// 容器設定
.container{
  max-width:1200px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

// 社群連結icon
.social_icon_list{
  display: flex;
  margin: 0 -8px;
  justify-content: center;
  li{
    padding: 0 8px;
  }
}

// 文字相關
.h2{
  font-size: $txt_basic_size*16;
  line-height: 1.3125;
}
.lh-normal{
  line-height: 1.5;
}

// 間距相關
.mb-0{
  margin-bottom: 0 !important;
}
.mr-0{
  margin-right: 0 !important;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-52{
  margin-bottom: 52px;
}

// 排版相關
.flex{
  display: flex;
}
