@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700&display=swap');

// 字體設定
body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

// 顏色設定
$primary:#891818;
$secondary:#707070;

// 文字大小
$txt_basic_size:4px;

